h1 {color: blue;
    text-align: center;
}
h2 {color: blue;}
h3 {color: blue;}
h4 {color: blue;}
h5 {color: blue;}

body {background-color: burlywood;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    line-height: 1.3em;
    margin: 20px;



}

.container {
    width: 960px;
    height: auto;
    margin: 10px 10px 10px 10px;

}

.button { 
    text-decoration: none;
    color: indigo;

}

.button:hover{
    color: red;
}

.button:active{
    color: blue;
}

.button:visited{
    color: #0d6904;
}


.howto {
    background: pink;
    border: 3px solid blue;
    padding: 32px;
    margin: 12px;
  }

.Ingredients {
    background: pink;
    border: 3px solid blue;
    padding: 32px;
    margin: 12px;
  }






